#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

ifndef PERL
	PERL = /usr/bin/perl
endif

TMP =`pwd`/debian/tmp
archlib =`$(PERL) -MConfig -e 'print $$Config{installarchlib}'`

build: build-stamp
build-stamp:
	dh_testdir

# Add here commands to compile the package.
	$(PERL) Makefile.PL INSTALLDIRS=vendor
	$(MAKE) OPTIMIZE="-O2 -g -Wall"

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

# Add here commands to clean up after the build process.
	-$(MAKE) distclean
	# Remove the generated html-versions of the Manpages
	for hf in scripts/*.html; do \
		if [ -f $$hf ]; then \
			rm $$hf; \
		fi; \
	done
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

# Add here commands to install the package into debian/tmp.
	$(MAKE) install PREFIX=$(TMP)/usr
# Install support files for Interchange
	mkdir -p $(TMP)/usr/lib/interchange/Vend
	install interchange/Vend/DataFilter.pm $(TMP)/usr/lib/interchange/Vend
	mkdir -p $(TMP)/usr/lib/interchange/code/usertag
	install interchange/usertag/datafilter.tag $(TMP)/usr/lib/interchange/code/usertag

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
#	dh_testversion
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs 
#	dh_installexamples
#	dh_installmenu
#	dh_installemacsen
#	dh_installpam
#	dh_installinit
#	dh_installcron
	dh_installmanpages
#	dh_installinfo
#	dh_undocumented dbs_dumptabstruct.1p
	dh_installchangelogs Changes
	dh_install --sourcedir=debian/tmp
#	dh_link
#	dh_strip
	dh_compress
	dh_fixperms
# You may want to make some executables suid here.
#	dh_suidregister
#	dh_makeshlibs
	dh_installdeb
	dh_perl
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
